<div class="modal fade" id="ModalCamera" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span>Scanner votre article <i class="fas fa-barcode" style="font-size : 18px;"></i></span>
        <button type="button" class="close close-camera" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div id='barcode-scanner' class="barcode-scanner"></div>
    </div>
  </div>
</div>
